@media all {
    .page-break { display: none; }
}

@media print {
    .noprint { display: none; }
    .page-break { display: block; page-break-before: always; }
}

.controls .csvFiles{
    line-height: 10px;
}

.record {
    margin: 20px 0;
}

.total {
    margin: 20px 0;
    font-weight: bold;
}

.noValue {
    font-style: italic;
}