<h2>{{heading}}</h2>
<div class="total">
    {{#boxes}}
    <div>{{total}} x {{item}}</div>
    {{/boxes}}
</div>
<div class="total">
    {{#extras}}
    <div>{{total}} x {{item}}</div>
    {{/extras}}
</div>
